* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

a {
    color: #fff;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

header {
    position: absolute;
    height: 150px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 5;
    
    h1 {
        position: absolute;
        text-align: center;
        width: 550px;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        color: #fff;
        font-weight: bold;
        z-index: 5;
    }
}

.loading {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(80, 0, 0);

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 75px;
        z-index: 10;
    }
}

main {
    .started {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: 11;

        button {
            width: 35px;
            height: 35px;
            background-color: rgb(253, 253, 253);
            border-radius: 50%;
            border: none;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                opacity: 0.6;
            }
        }

        p {
            margin-top: 10px;
            color: #fff;
        }
    }
    
    .player {
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.459);
        opacity: 0;
        visibility: hidden;
    
        .player-source {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
            width: 85vw;
            height: 85vh;
            z-index: 6;
        }
    
        .player-close {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 20px;
            right: 20px;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.2s;
            z-index: 7;
    
            &:hover {
                transform: scale(1.05);
            }
    
            &::after {
                content: "";
                position: absolute;
                width: 25px;
                height: 2px;
                background-color: #000;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        
            &::before {
                content: "";
                position: absolute;
                width: 25px;
                height: 2px;
                background-color: #000;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}


footer {
    opacity: 0;

    p {
        position: absolute;
        bottom: 0;
        margin: 25px;
        color: #fff;
        z-index: 2;
    }
}